{{- if stat (joinPath .chezmoi.homeDir ".config/omarchy/current/theme/kitty.conf") }}
include ~/.config/omarchy/current/theme/kitty.conf
{{- end }}

# Font
font_family JetBrainsMono Nerd Font Thin Italic
bold_font JetBrainsMono Nerd Font Bold
italic_font JetBrainsMono Nerd Font Thin Italic
bold_italic_font JetBrainsMono Nerd Font Bold Italic
font_size        9.0

# Window
window_padding_width 2
hide_window_decorations yes
confirm_os_window_close 0

# Keybindings
map ctrl+insert copy_to_clipboard
map shift+insert paste_from_clipboard
map ctrl+tab next_window
map kitty_mod+tab previous_window

# Allow remote access
allow_remote_control yes

# Aesthetics
cursor_shape block
cursor_blink_interval 0
shell_integration no-cursor
enable_audio_bell no

# Tab bar styling
tab_bar_edge                bottom
tab_bar_style               fade
tab_title_template          {title}{' :{}:'.format(num_windows) if num_windows > 1 else ''}

# Transparency
background_opacity 0.65
dynamic_background_opacity yes

# Scrollback
scrollback_lines 2000

# Wez theme (overrides omarchy theme colors)
foreground            #b3b3b3
background            #000000
cursor                #52ad70
selection_background  #4c52f8
selection_foreground  #000000
color0                #000000
color8                #555555
color1                #cc5555
color9                #ff5555
color2                #55cc55
color10               #55ff55
color3                #cdcd55
color11               #ffff55
color4                #5455cb
color12               #5555ff
color5                #cc55cc
color13               #ff55ff
color6                #7acaca
color14               #55ffff
color7                #cccccc
color15               #ffffff
active_border_color   #05f721
